body {
	font-family: Verdana, sans-serif;
	text-align: center;
	background-color: #DAE5E3;
}
h1 {
	text-align: center;
	color: #07AA9E;
}
.displayBox{
	width: 600px;
	margin: 0 auto;
}

.description {
	font-size: 14px;
	color: #337277;
}

.textBox {
	padding: 25px;
	border-radius: 15px;
	background-color: #07AA9E;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	width: 550px;
	margin: 25px auto;
	cursor: pointer;
}